sudo: false
language: node_js
cache:
  directories:
    - node_modules
node_js:
  - '8'
before_script:
  - npm prune
script:
  - npm test
after_success:
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
